<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.repast.mapper.PmsCommentMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.repast.model.PmsComment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="member_nick_name" property="memberNickName" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="member_ip" property="memberIp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="show_status" property="showStatus" jdbcType="INTEGER" />
    <result column="product_attribute" property="productAttribute" jdbcType="VARCHAR" />
    <result column="collect_couont" property="collectCouont" jdbcType="INTEGER" />
    <result column="read_count" property="readCount" jdbcType="INTEGER" />
    <result column="pics" property="pics" jdbcType="VARCHAR" />
    <result column="member_icon" property="memberIcon" jdbcType="VARCHAR" />
    <result column="replay_count" property="replayCount" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="selectPmsCommentById" resultMap="BaseResultMap" parameterType="long">
  select * from pms_comment where shop_id=#{shopId} and show_status=0

  </select>
  <select id="selectPmsCommentByOrderId" resultMap="BaseResultMap" parameterType="long">
    select * from pms_comment where order_id=#{orderId} and show_status=0
  </select>
  <insert id="insertComment" parameterType="com.aaa.lee.repast.model.PmsComment"   >

insert into pms_comment (shop_id,order_id,product_id,
member_nick_name,product_name,star,
member_ip,create_time,show_status,
product_attribute,collect_couont,
read_count,content,
pics,member_icon,replay_count
)
VALUES
(#{shopId},#{orderId},#{productId},
#{memberNickName},#{productName},#{star},
#{memberIp},NOW(),0,
#{productAttribute},#{collectCouont},
#{readCount},#{content},#{pics},
#{memberIcon},#{replayCount})
  </insert>

  <update id="deleteComment" parameterType="com.aaa.lee.repast.model.PmsComment" >
    UPDATE pms_comment set
member_nick_name=#{memberNickName},product_name=#{productName},star=#{star},
member_ip=#{memberIp},show_status=1,
product_attribute=#{productAttribute},collect_couont=#{collectCouont},
read_count=#{readCount},content=#{content},
pics=#{pics},member_icon=#{memberIcon},replay_count=#{replayCount}
  where order_id=#{orderId}
  </update>
</mapper>